/* Font by Tepid Monkey Fonts, http://www.1001fonts.com/users/tepidmonkey/ */
@font-face {
  font-family: Repetition_Scrolling;
  src: url(fonts/repet___.ttf);
}

@media (min-width:320px) {
  .col-3{
    margin: 1px;
  }
  #time{
    font-size: 1em;
  }
  .score_number{
    font-size: 5em;
  }
  .team_name{
    font-size: 1em;
  }
}

@media (min-width:641px) {
  .col-3{
    margin: 10px;
  }
  #time{
    font-size: 4em;
  }
  .score_number{
    font-size: 10em;
  }
  .team_name{
    font-size: 3em;
  }
}

@media (min-width:1025px) {
  #time{
    font-size: 6em;
  }
  .score_number{
    font-size: 17em;
  }
}

@media (min-width:1281px) {
  #time{
    font-size: 6em;
  }
  .score_number{
    font-size: 21em;
  }
}

body{
  color: #eee;
  background-color: #222;
  text-align: center;
}

.col-3{
  width: 30%;
  float: left;
}

#time{
  color: #fb0;
  font-family: Repetition_Scrolling;
  border: 5px solid #eee;
  background-color: #050505;
}

.score_number{
  color: #eee;
  line-height: 1;
  font-family: Repetition_Scrolling;
  border: 5px solid;
  background-color: #050505;
}

.home{
  border-color: red;
}

.visitor{
  border-color: blue;
}